


@media screen and (max-width:567px) {
  
  table{
   
    text-align: center;
  }

  img{

    width: 40%;
  }
}

@media screen   and (min-width: 768px) and (max-width: 1023px) {
  
  table{
   
    text-align: center;
  }

  img{

    width: 30%;
  }
}


@media screen  and (min-width: 1024px) {
  table{
   
    text-align: center;
  }

  img{

    width: 30%;
  }
}


.parent{

    text-align: center;
    background-color: rgba(224, 216, 209, 0.774);
}

h1{

    color: rgb(212, 81, 81);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}



table {
    border-style:ridge ;
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    /* width: 90%; */

    margin: auto;
  }

  th{
    background-color: lemonchiffon;

  }
  td {
    border: 1px solid #c98888;
    text-align: center;
    padding: 8px;
    background-color: seashell;
  }


/* tr{

    
} */
  tr:nth-child(even) {
    background-color: #dddddd;

  }

  a{

    color: red;
  }
  img{

    text-align: left;
  }

  .block {
    display: block;
    width: 50%;
    margin: 3ch;
    background-color: #04AA6D;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    
  }