
@media screen and (max-width:767px) {

    .parent{
         display: grid;
         grid-template-columns:  repeat(1,1fr);

           }

           .quo{
               width: 100%;
           }
}

@media screen   and (min-width: 768px) and (max-width: 1023px) {
    
    .parent { 
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
  }
 
  
  @media screen  and (min-width: 1024px) {
     
    .parent { 
        display: grid;
        grid-template-columns: repeat(3, 1fr); }
  }

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:" Roboto" ,"sans-serif";
}
header{
    background-color: azure;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}
.overlay{

    position: absolute;
    z-index: 1;
    height: 100%;
    background-color:black;
    margin: 0 !important;
    padding: 0 !important;
}

nav{
    position: absolute;
    z-index: 2;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span{
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: rgb(184, 223, 230);
    text-decoration: none;
}
.cart ion-icon{
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}
.cart a{
    background-color: blueviolet;
    color: rgba(246, 244, 233, 0.938);
    cursor: pointer;
    text-decoration: none;
}
.container{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
 
.image{
     margin: 2ch;
     padding: 4ch;
    position: relative;
    overflow: hidden;
    
}
 img{
     width: 120%;
 }

.add-cart{

    position: absolute;
    width: 100%;
    background-color: honeydew;
    transition:  all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
}


body{
 animation-name: back;
 animation-duration: 10s;
 animation-iteration-count:infinite;
}

@keyframes back{

    0%   {background-color:rgb(191, 182, 230); }
    25%  {background-color:rgb(203, 195, 216);  }
    50%  {background-color:rgba(79, 205, 236, 0.575); }
    75%  {background-color:rgb(240, 209, 183); }
    100% {background-color:rgb(161, 227, 231);  }

}
  

h3{
color: rgb(34, 12, 4);
font-family:     monospace;   
font-size: medium; 
}
 
  
 

.A{
    font-style:normal;
    font-size: 20px;
      
    font-weight: bolder;
    text-decoration: underline;
    /* border-style:solid; */

}
 .head03{
     /* border-style:double ; */
     width: 50%;

    
     display: flex;
     flex-direction: row;
     justify-content:right;

    color: rgb(128, 24, 24);
 }
 
summary{
    color: rgb(48, 17, 160);
}
h5{
font-style: normal;
 font-weight:initial;
 color: rgb(243, 26, 55);
}
 
.head01{
/* border-style:dotted ; */
color: rgb(252, 0, 139);

display: flex;
flex-direction: row;
justify-content: space-around;

}
 

  
 .quo{
 margin: 1ch;

    display: grid;
    grid-template-columns: 1fr 2fr;
     
    
    border: solid black;
 }
.user{
 
margin: 2ch;
padding: 1ch;
 

}
h4{

    text-decoration: underline; 
    font-size: 3ch;
     padding: 1ch;
     
     
}
ul{

    color: rgb(6, 7, 59); 
   padding-left: 6ch;
   padding-bottom: 3ch;
}
p{
    color: red;
    font-weight: bold;
}
.cont{
   
    text-align: center;
}
button{
    background-color: rgb(196, 20, 20);
    color: rgba(194, 202, 185, 0.932);
    margin: 2ch;
    padding: 1ch;
    width: 60%;

   
}
 .block{

    display: block;
    width: 100%;
    border: none;
    background-color: #1663d6;
    color: white;
    padding: 14px 28px;
    margin: 1ch;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  

 
 