body{

     
    background-color: bisque;

    display: flex;
    justify-content: center;
    padding-top:15ch;
}
 

.parent{

    background-color: burlywood;
    width: 70%;
   
    
}
.child{

    background-color: cadetblue;
    
    border: ridge;
    
}
.product{

border: double;

display: flex;
 
 
}
.image{
    border: inset red;
    width: 40%;
    text-align: center;
}
img{

     width: 80%;
    margin: 1ch;
    border: dashed;
}
button{
    margin: 2ch;
    background-color: rgb(157, 221, 92);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
     
}
p{
    margin: 2ch;
    padding: 1ch;
}
h5{
    color: red;
    padding: 1ch;
}
#P{
    font-weight: bold;
    text-decoration: underline;
}
.text{

    font-family:cursive;
    /* margin: 2ch; */
    border: groove;
    display: flex;
    width: 50%;
     

}